<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <div>This was made during my time at CC9</div>
    <meta name="description" content="The HTML5 Herald" />
    <meta name="author" content="SitePoint" />

    <link rel="stylesheet" href="" />
  </head>

  <body>
    <h1>API PROJECT</h1>
    <h2>Background</h2>
    <p>
      We were given a weekend to create our own api. I decided to work with
      express to create<br />
      the server and utilized knex to connect javascript to the database. The
      contents of the<br />
      database include one table that contains basic zodiac data.
    </p>
    <h2>Set Up</h2>
    <p>
      This is a personal preference, but found it extremely useful downloading
      insomnia and<br />
      using it easily check queries made to the database. You will want to run
      "yarn start"<br />
      to set up the node and "yarn dev" to set nodemon to keep a pulse on the
      server.
    </p>
    <a href="https://insomnia.rest/download/#mac">Download Insomnia Here</a>
    <h2>Functionality</h2>
    <p>
      List queries "/zodiacs", Get queries "/zodiacs/:name", Create queries
      "/zodiacs" <br />
      + pass through JSON {"name":newName}, Delete queries "zodiacs/:name", Post
      queries <br />
      "zodiacs/:name" + JSON{"name":newName}
    </p>
    <h3>Please click the following to access this project via github</h3>

    <a href="https://github.com/frankmfernandez/api_project">Git Hub Link</a>
  </body>
</html>
